{% extends  'templates.html' %}

{% block position %}
    <div class="location">
        <strong>你现在所在的位置是:</strong>
        <span>供应商管理页面 >> 供应商修改页</span>
    </div>
{% endblock %}

{% block main %}
<div class="providerAdd">
    <form action="/res/providerUpdate/{{ data.id }}" method="post">{% csrf_token %}
        <div class="">
            <label for="providerId">供应商编码：</label>
            <input type="text" name="suppId" id="providerId" placeholder="{{ data.suppId }}"/>
            <span>*</span>
        </div>
        <div>
            <label for="providerName">供应商名称：</label>
            <input type="text" name="supplierName" id="providerName" placeholder="{{ data.supplierName }}"/>
            <span>*</span>
        </div>
        <div>
            <label for="people">联系人：</label>
            <input type="text" name="linkman" id="people" placeholder="{{ data.linkman }}"/>
            <span>*</span>

        </div>
        <div>
            <label for="phone">联系电话：</label>
            <input type="text" name="tel" id="phone" placeholder="{{ data.tel }}"/>
            <span></span>
        </div>
        <div>
            <label for="address">联系地址：</label>
            <input type="text" name="addr" id="address" placeholder="{{ data.addr }}"/>
            <span></span>

        </div>
        <div>
            <label for="fax">传真：</label>
            <input type="text" name="email" id="fax" placeholder="{{ data.email }}"/>
            <span></span>

        </div>
        <div>
            <label for="describe">描述：</label>
            <input type="text" name="desc" id="describe" placeholder="{{ data.desc }}"/>
            <span></span>

        </div>
        <div class="providerAddBtn">
            <!--<a href="#">保存</a>-->
            <!--<a href="providerList.html">返回</a>-->
            <input type="button" id="save" value="保存" onclick="history.back(-1)"/>
            <input type="button" value="返回" onclick="history.back(-1)"/>
        </div>
    </form>
</div>

{% endblock %}

{% block billCheck%}
<script>
    $(function () {
        $("#save").click(function () {
            $(this).parents("form").submit()
        });
    })
</script>

{% endblock %}